.topbar {
    background-color: #ffff;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #C4C4C4;
    justify-content: space-between;
}

.logo {
    margin: 10px 20px;
    color: #0208ba;
}

.page-list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    color: #0000;
}

.page-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.page-list-item:hover {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    border-bottom: 3px solid #0208ba;
}

.icon {
    font-size: 22px;
}

.page-link {
    text-decoration: none;
    font-weight: 500;
}

.logout-btn {
    list-style: none;
    margin-right: 20px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    border: none;
    color: #000000;
    background: transparent;
}

.logout-btn:hover {
    color: #213547;
    transition: 0.25s;
}