.patient-form-container {
    margin: 60px 150px;
    padding-bottom: 60px;
}

.patient-list-header {
    font-weight: 500;
}

.patient-list-form {
    margin-top: 20px;
}

.patient-list-input-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.patient-button-section {
    display: flex;
    justify-content: right;
}