.patient-list-container {
    margin: 100px 150px;
}

.patient-list-title {
    font-weight: 500;
}

.search-patients-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.search-patients {
    background-color: white;
    height: 44px;
    width: 85%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.search-patient-icon {
    font-size: 22px;
    color: #636363;
    margin-right: 30px;
}

.search-patient-input {
    border: none;
    width: 100%;
}

.patient-table-container {
    margin: 0 auto;
}

.patient-table {
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.patients-table-header,
.patients-table-tr {
    border-bottom: 1px solid #C4C4C4;
}

.patients-table-header {
    height: 55px;
}

.patients-table-th {
    padding: 15px 0 15px 35px;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
}

.patients-table-tr:hover {
    background-color: #cbcbcb;
    transition: 0.25s;
}

.patients-table-footer {
    border: none;
    width: 100%;
    height: 55px;
}

.patients-table-td {
    padding-left: 35px;
    height: 50px;
    cursor: pointer;
    width: 25%;
}