.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container-form {
  width: 50%;
  margin: 0;
}

.register-form {
  padding: 0;
  width: 90%;
  margin: 20px 0;
}

.register-image {
  width: 650px;
}